@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --eggplant: #6C596Cff;
    --eggplant-2: #613249ff;
    --lilac: #C7A2C9ff;
    --night: #111111ff;
    --night-2: #141112ff;
    --dark-purple: #412533ff;
    --night-3: #121111ff;
    --french-rose: #EA4087ff;

    /* Shadows */
    --shadow-level-1: 0 1rem 1rem 0 rgba(0, 0, 0, .2);
    --shadow-level-2: 0 1rem 1rem 0 rgba(0, 0, 0, .2);
    --shadow-level-3: 0 2rem 2rem 0 rgba(0, 0, 0, .1);
    --shadow-level-4: 0 3rem 3rem 0 rgba(0, 0, 0, .1);
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 3px;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--french-rose);
}

::-webkit-scrollbar-thumb {
    background: var(--night-3);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--night-2);
}

body {
    background: var(--night-3);
    height: 100vh;
}

.pulse-icon {
    position: absolute;
    font-size: 56rem;
    top: 90px;
    bottom: 50px;
    left: 0;
    color: var(--french-rose);
    z-index: -1;
    opacity: .1;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Caveat', cursive;
    font-family: 'Quicksand', sans-serif;
}

.header .logo {
    width: 15%;
    border-bottom: 2px solid var(--french-rose);
    border-right: 2px solid var(--french-rose);
    border-radius: 0px 0px 21px 0px;
    padding: 1rem;
    box-shadow: none;
    opacity: .7;
    cursor: pointer;
    transition: .4s all ease;
}

.header .logo:hover {
    opacity: 1;
    box-shadow: var(--shadow-level-3);
}

.info-links {
    padding: 2rem;
}

.info-links .external-link-icon {
    border-bottom: 4px solid var(--french-rose);
    color: var(--french-rose);
    font-size: 2rem;
    cursor: pointer;
    opacity: .7;
    transition: .3s all ease;
}

.info-links .external-link-icon:hover {
    opacity: 1;
    padding-left: .2rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-content {
    color: var(--french-rose);
    text-align: center;
    margin-top: 10%;
    background: rgb(236, 197, 207);
    background: -moz-linear-gradient(90deg, rgba(236, 197, 207, 0.15309873949579833) 0%, rgba(255, 204, 216, 0.12228641456582634) 50%, rgba(255, 0, 67, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(236, 197, 207, 0.15309873949579833) 0%, rgba(255, 204, 216, 0.12228641456582634) 50%, rgba(255, 0, 67, 0) 100%);
    background: linear-gradient(90deg, rgba(236, 197, 207, 0.15309873949579833) 0%, rgba(255, 204, 216, 0.12228641456582634) 50%, rgba(255, 0, 67, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecc5cf", endColorstr="#ff0043", GradientType=1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 350px 0px 0px 64px;
}

.hero-content .welcome-title {
    font-family: 'Caveat', cursive;
    font-family: 'Quicksand', sans-serif;
    font-size: 8rem;
    margin-bottom: 1rem;
}

.hero-content .project-description {
    font-family: 'Caveat', cursive;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 4rem;
    text-align: left;
}

.hero-content .project-description strong {
    font-weight: 800;
    font-size: 1.4rem;
    background: var(--french-rose);
    color: var(--night-3);
    border: 1.1px solid var(--french-rose);
    border-radius: 4px;
    box-shadow: var(--shadow-level-3);
    padding: 3px;
}